:root {
  --navBg: #060b26;
  z-index: 5000;
}

.navbar {
  background-color: var(--navBg);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: var(--navBg);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  background-color: var(--navBg);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* NAVBAR */

.Header {
  text-align: center;
}

.SingleItem {
  text-align: center;
}

.ArticlesList {
  direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  list-style: none;
  text-align: center;
}

.Error {
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
}

.TopicsList {
  text-align: center;
  list-style: none;
  padding: 2rem;
}

.TopicsByTopic {
  text-align: center;
  padding: 2rem;
}

.SortedArticlesPlaycard {
  text-align: center;
  list-style: none;
}

.CommentsPlaycard {
  list-style: none;
  text-align: left;
}

.Comments li {
  list-style: none;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.SearchBox .search-bar {
  text-align: center;
  display: block;
  width: 95%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.15);
  color: #6b5f5f;
  font-size: 20px;
  transition: 0.4 ease;
  margin: 0 0 75px;
}
